:root {
    --bg-color: #121212;
    --accent-color: #ffcc00;
    --accent--color--dark: #886d00;
    --text-color: #e0e0e0;
    --header-bg: #1f1f1f;
}

body {
    font-family: noto-sans-cjk-jp, sans-serif, "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    text-align: center;
    padding: 15px 0;
    background: var(--header-bg);
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color); /* header's underline */
    position: fixed;
    width: 100%;
    top: 0; 
    overflow: hidden; 
    z-index: 1000 /* keep header on top */
}

h2, p {
    text-align: center;
    font-family: noto-sans-cjk-jp, sans-serif, "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
}

.left-side {
    text-align: left;
    padding-left: 100px;
}

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;

}
nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    
}

a:hover {
    color: var(--accent-color);
    transition: 0.3s;
}

main {
    padding: 2px;
    margin-top: 150px;
    background-color: var(--bg-color);
    flex: 1; /* push the footer */
}

footer {
    text-align: center;
    padding: 20px 0;
    background: var(--header-bg);
    color: var(--text-color);
    width: 100%;
}

::selection {
    background: var(--accent-color);
  }

.language-button {
    padding: 8px 15px;
    background-color: var(--accent-color);
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.language-button:hover {
    background-color: var(--accent--color--dark);
    color: white;
    transition: 0.3s;
}

div {
    text-align: center;
    font-size: 16px;
    font-family: noto-sans-cjk-jp, sans-serif, "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
    letter-spacing: 0.04em;
}

.lyrics-text {
    white-space: pre-line;
    text-align: center;
    line-height: 2;
    padding: 20px;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}
.fade-out {
    opacity: 0;
}

body.theme-same-blue {
    --bg-color: #001226;
    --header-bg: #000a14;
    --accent-color: #87CEEB;
    --text-color: #f0f8ff;
}