body {
    font-family:noto-sans-cjk-jp, sans-serif, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "游ゴシック体", YuGothic, "Yu Gothic Medium", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 10px 0;
    background:pink;
    color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
}

h2, p {
    text-align: center;
    font-family: noto-sans-cjk-jp, sans-serif, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "游ゴシック体", YuGothic, "Yu Gothic Medium", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Arial", sans-serif;
}

.left-side {
    text-align: left;
    padding-left: 100px;
}

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;

}
nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    
}

a:hover {
    color: black;
    transition: 0.45s;
}

main {
    padding: 2px;
    margin-top: 150px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background:pink;
    color: #ffffff;
    width: 100%;
    bottom: 0;
}

::selection {
    background: rgb(103, 255, 204);
  }

.language-button {
    padding: 5px 5px;
    background-color: rgb(255, 121, 143);
    color: white;
    border: none;
    cursor: pointer;
}

.language-button:hover {
    background-color: black;
    transition: 0.45s
}

div {
    text-align: center;
    font-size: 16px;
    font-family:noto-sans-cjk-jp, sans-serif, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "游ゴシック体", YuGothic, "Yu Gothic Medium", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Arial", sans-serif;
    letter-spacing: 0.04em;
}

.lyrics-text {
    white-space: pre-line;
    text-align: center;
    line-height: 1.8;
    padding: 20px;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}
.fade-out {
    opacity: 0;
}