<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>ヒゲダンの架け橋</title>
</head>
<body>
    <header>
        <h1 id="website-title">ヒゲダンの架け橋</h1>
        <nav>
            <a href="index.html" id="nav-home">ホーム</a>
            <a href="https://higedan.com/?lang=jp" id="nav-official">オフィシャルサイト</a>
            <button onclick="toggleLanguage()" id="lang-btn" class="language-button">Switch to English</button>
        </nav>
    </header>
    <main>
        <h2 id="welcome-msg" class="left-side">
            こんにちは! ここはJ-POPバンドOfficial髭男dismというのファンサイトです!
        </h2>
        <p id="welcome-sub" class="left-side">
            歌詞の翻訳をここにポストします! よろしくお願いします!❤️
        </p>
        
        <div class="song-list">
            <a href="lyrics.html?song=same-blue" class="song-link">Same Blue</a>
            <a href="lyrics.html?song=pretender" class="song-link">Pretender</a>
        </div>

    </main>
<script src="../static/js/script.js"></script>
    <footer>
        <p>&copy; A web dedicated to Official髭男dism by Wichaya Chapinjai </p>
    </footer>
</body>
</html>

